# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_meta

# Datasets
datasets/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.log

# Projet pdf
Projet.pdf

images/*